 <!-- Page Header Start -->
<div
class="container-fluid page-header py-6 my-6 mt-0"
style="background-color: #508bfc; opacity: 0.9"
data-wow-delay="0.1s"
>
<div class="container text-center">
  <h1 class="display-4 text-primary text-uppercase animated slideInDown mb-4">
  About us
  </h1>
</div>
</div>
<!-- Page Header End -->
 <!-- About Start -->
  <div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="assets/images/about.png" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="assets/images/about1.png" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">About Us</h6>
                    <h1 class="display-6 mb-4">We Help people achieve their goals </h1>
                    <p> Excel For professional Training    has been offering the highest quality language instruction and assessment since its establishment in 2019. With course offerings in more than 8 languages and also many computer programs, 

                        Our language programs emphasize doing rather than knowing, so that students learn to speak, listen, read, and write in ways that are immediately useful in a real world setting.
                        
                        At the Language Center, we prepare all our students to have a foreign language capability that enhances their academic program and enables them to live, work, study, and research in a different country.</p>
                   <p class="mb-4"> </p>
                    <div class="row g-2 mb-4 pb-2">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>certified courses 
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Online and offline tracking
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Afordable Fee 
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Best Trainers
                        </div>
                    </div>
                    <div class="row g-4">
                        
                        <div class="col-sm-6">
                            <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" href="tel:+21626771526">
                                <span class="flex-shrink-0 btn-square bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </span>
                                <span class="px-3">+21626771526</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

        <div class="row g-5 container-xxl py-6">
           
            <div class="col-lg-6 wow fadeInUp " data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-4">We Help people achieve their goals </h1>
                    <p> We offer language training, in full compliance with the CEFR (Common European Framework of Reference – CECR in french)
                         standard.  And that deal with the six levels of language proficiency. And thanks to our authentic technique of total immersion,
                         students or interns have the opportunity to acquire more than one level</p>
                 
                   
                </div>
            </div>
             <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row">
                    <div class="col-6">
                       <img src="assets/images/cefr.jpeg" class="rounded" alt="" style="width:200%">
                  
                    </div>
                    
              </div> 
            </div>

        </div>
    </div>
</div>
<!-- About End -->
<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-4">Get In Touch</h4>
        <h2 class="text-primary mb-4">
          <i class="fa-solid fa-school text-primary me-2"></i>Excel
        </h2>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>Avenue Yasser Arafet
          Sahloul,Tunisia
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+0216 26 771 526</p>
        <p class="mb-2">
          <i class="fa fa-envelope me-3"></i>academyexcel9@gmail.com
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Quick Links</h4>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" href="">Contact Us</a>
        <a class="btn btn-link" href="">Our Services</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">Support</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Popular Links</h4>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" href="">Contact Us</a>
        <a class="btn btn-link" href="">Our Services</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">Support</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Newsletter</h4>
        <form action="">
          <div class="input-group">
            <button  routerLink="/signUp"  class="btn btn-primary">Sign Up</button>
          </div>
        </form>
        <h6 class="text-white mt-4 mb-3">Follow Us</h6>
        <div class="d-flex pt-2">
          <a class="btn btn-square btn-outline-light me-1" href=""
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            class="btn btn-square btn-outline-light me-1"
            href="https://www.facebook.com/exceltraning"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-square btn-outline-light me-1"
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCMywpOlcO9j1IXsb8QneO3g%3Ffbclid%3DIwAR3CS2hZ9ZCU3X8lBJn0EJR2gObk47o9nvTOA9nnWmuKED3l2wHE59Kg338&h=AT3ltPJ3rXvJDXujL9sUFnekgznHhAUKsFbL8_6Qi4_GueJJWBDsqhYfKTWY0FuHimKbVLyqnINT6Xe0qNNKUeDMEhsrNzQGJPMfzxlBihk_Jvg7kIqwozHbl_2oBAyo_MwRog"
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-square btn-outline-light me-0" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

