<!-- Page Header Start -->
  <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Courses</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Courses</li>
                </ol>
            </nav>
        </div>
    </div>
<!-- Page Header End -->
<div class="container-xxl py-6">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="1s"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h6 class="text-primary text-uppercase mb-2">Tranding Courses</h6>
      <h1 class="display-6 mb-4">
        An Investment In Knowledge Pays The Best Interest
      </h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div
          class="courses-item d-flex flex-column bg-light overflow-hidden h-100"
        >
          <div class="text-center p-4 pt-0">
            <div
              class="d-inline-block bg-warning text-white fs-5 py-1 px-4 mb-4"
            >
              <i class="fa-solid fa-book-open"></i>
            </div>
            <h5 class="mb-3">Learn Excel VBA</h5>
            <p>description de cours</p>
            <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item small">
                <i class="fa fa-signal text-primary me-2"></i>Beginner
              </li>
              <li class="breadcrumb-item small">
                <i class="fa fa-calendar-alt text-primary me-2"></i>3 Week
              </li>
            </ol>
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="assets/images/excel-VBA.jpg" alt="" />
            <div class="courses-overlay">
              <a class="btn btn-outline-warning border-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div
          class="courses-item d-flex flex-column bg-light overflow-hidden h-100"
        >
          <div class="text-center p-4 pt-0">
            <div
              class="d-inline-block bg-warning text-white fs-5 py-1 px-4 mb-4"
            >
              <i class="fa-solid fa-book-open"></i>
            </div>
            <h5 class="mb-3">Spanish Language</h5>
            <p>description de cours</p>
            <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item small">
                <i class="fa fa-signal text-primary me-2"></i>Beginner
              </li>
              <li class="breadcrumb-item small">
                <i class="fa fa-calendar-alt text-primary me-2"></i>3 Week
              </li>
            </ol>
          </div>
          <div class="position-relative mt-auto">
            <img
              class="img-fluid"
              src="assets/images/spanich-excel.jpg"
              alt=""
            />
            <div class="courses-overlay">
              <a class="btn btn-outline-warning border-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div
          class="courses-item d-flex flex-column bg-light overflow-hidden h-100"
        >
          <div class="text-center p-4 pt-0">
            <div
              class="d-inline-block bg-warning text-white fs-5 py-1 px-4 mb-4"
            >
              <i class="fa-solid fa-book-open"></i>
            </div>
            <h5 class="mb-3">IELTS Test Preparation</h5>
            <p>description de cours</p>
            <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item small">
                <i class="fa fa-signal text-primary me-2"></i>Beginner
              </li>
              <li class="breadcrumb-item small">
                <i class="fa fa-calendar-alt text-primary me-2"></i>3 Week
              </li>
            </ol>
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="assets/images/ielts-excel.jpg" alt="" />
            <div class="courses-overlay">
              <a class="btn btn-outline-warning border-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div
          class="courses-item d-flex flex-column bg-light overflow-hidden h-100"
        >
          <div class="text-center p-4 pt-0">
            <div
              class="d-inline-block bg-warning text-white fs-5 py-1 px-4 mb-4"
            >
              <i class="fa-solid fa-book-open"></i>
            </div>
            <h5 class="mb-3">TCF Test Preparation</h5>
            <p>description de cours</p>
            <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item small">
                <i class="fa fa-signal text-primary me-2"></i>Beginner
              </li>
              <li class="breadcrumb-item small">
                <i class="fa fa-calendar-alt text-primary me-2"></i>3 Week
              </li>
            </ol>
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="assets/images/tcf.jpg" alt="" />
            <div class="courses-overlay">
              <a class="btn btn-outline-warning border-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div
          class="courses-item d-flex flex-column bg-light overflow-hidden h-100"
        >
          <div class="text-center p-4 pt-0">
            <div
              class="d-inline-block bg-warning text-white fs-5 py-1 px-4 mb-4"
            >
              <i class="fa-solid fa-book-open"></i>
            </div>
            <h5 class="mb-3">microsoft Office</h5>
            <p>description de cours</p>
            <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item small">
                <i class="fa fa-signal text-primary me-2"></i>Beginner
              </li>
              <li class="breadcrumb-item small">
                <i class="fa fa-calendar-alt text-primary me-2"></i>3 Week
              </li>
            </ol>
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="assets/images/microsoft.jpg" alt="" />
            <div class="courses-overlay">
              <a class="btn btn-outline-warning border-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div
          class="courses-item d-flex flex-column bg-light overflow-hidden h-100"
        >
          <div class="text-center p-4 pt-0">
            <div
              class="d-inline-block bg-warning text-white fs-5 py-1 px-4 mb-4"
            >
              <i class="fa-solid fa-book-open"></i>
            </div>
            <h5 class="mb-3">General English</h5>
            <p>description de cours</p>
            <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item small">
                <i class="fa fa-signal text-primary me-2"></i>Beginner
              </li>
              <li class="breadcrumb-item small">
                <i class="fa fa-calendar-alt text-primary me-2"></i>3 Week
              </li>
            </ol>
          </div>
          <div class="position-relative mt-auto">
            <img
              class="img-fluid"
              src="assets/images/general-english.jpg"
              alt=""
            />
            <div class="courses-overlay">
              <a class="btn btn-outline-warning border-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-4">Get In Touch</h4>
        <h2 class="text-primary mb-4">
          <i class="fa-solid fa-school text-primary me-2"></i>Excel
        </h2>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>Avenue Yasser Arafet
          Sahloul,Tunisia
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+0216 26 771 526</p>
        <p class="mb-2">
          <i class="fa fa-envelope me-3"></i>academyexcel9@gmail.com
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Quick Links</h4>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" href="">Contact Us</a>
        <a class="btn btn-link" href="">Our Services</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">Support</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Popular Links</h4>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" href="">Contact Us</a>
        <a class="btn btn-link" href="">Our Services</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">Support</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Newsletter</h4>
        
        <form >
          <div class="input-group">
            <button  routerLink="/signUp"  class="btn btn-primary">Sign Up</button>
          </div>
        </form>
        <h6 class="text-white mt-4 mb-3">Follow Us</h6>
        <div class="d-flex pt-2">
          <a class="btn btn-square btn-outline-light me-1" href="https://www.instagram.com/excel.fpt9/"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            class="btn btn-square btn-outline-light me-1"
            href="https://www.facebook.com/exceltraning"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-square btn-outline-light me-1"
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCMywpOlcO9j1IXsb8QneO3g%3Ffbclid%3DIwAR3CS2hZ9ZCU3X8lBJn0EJR2gObk47o9nvTOA9nnWmuKED3l2wHE59Kg338&h=AT3ltPJ3rXvJDXujL9sUFnekgznHhAUKsFbL8_6Qi4_GueJJWBDsqhYfKTWY0FuHimKbVLyqnINT6Xe0qNNKUeDMEhsrNzQGJPMfzxlBihk_Jvg7kIqwozHbl_2oBAyo_MwRog"
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-square btn-outline-light me-0" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D%252B21626771526%26fbclid%3DIwAR1XaCbBF0gh_sld3WMMA8xwNo7Py1i012BKJlEz_3BNdOTWpeUH2Z0u2D0&h=AT00OwHQWC7N6vHwOcBfxXBe6JePpHp8l56FYeftU1PDNEOJegMIE3bnRcoYPmgxuAqoo0qLRwvLWQku-UrZzyW9mC0anS4kyUhF4N_F8HPtBpT2NUL_Nxg5zkZIg0kVboM9vg"
            ><i class="fa fa-whatsapp" ></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
